* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;

}

.container {
    max-width: 750px;
    margin: 110px auto;
}

.text-center {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}


h1 {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin-bottom: 20px;
    font-weight: bold;
}

p {
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 28px;
}

.btna {
    margin-left: 250px;
    display: inline-block;
    width: 247px;
    height: 48px;
    background-color: #3040C4;
    border-radius: 2px;
    text-align: center;
    font-size: 18px;
    line-height: 48px;
    color: white;
    margin-bottom: 110px;
}


.btn1 {
    display: inline-block;
    width: 750px;
    height: 81px;
    margin-bottom: 20px;
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 8px;
    font-weight: bold;
    font-size: 22px;
    line-height: 81px;
    color: #2B292D;
}

.btn1:hover {
    display: inline-block;
    width: 750px;
    height: 81px;
    margin-bottom: 20px;
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 8px;
    font-weight: bold;
    font-size: 22px;
    line-height: 81px;
    color: #fff;
    background-color: #3141C5;
    border: 1px solid blue;
}

span {
    width: 410px;
    height: 230px;
    margin-left: 30px;
    font-size: 18px;
    line-height: 24px;
}

span.lick {
    width: 410px;
    height: 230px;
    margin-left: 185px;
    opacity: 0.6;
}


span.lick1 {
    width: 410px;
    height: 230px;
    margin-left: 185px;
    margin-right: 50px;
    opacity: 0.6;
}

span.close {
    margin-left: 90px;
    opacity: 0.6;

}

span.close1 {
    margin-left: 100px;
    opacity: 0.6;
}

@media only screen and (max-width: 768px) 
{
    .container {
        max-width: 600px;
        margin: 70px auto;
    }

    .h1 {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.357143px;
    }

    .text-center {
        width: 70%;
        margin: 0 auto;
        text-align: center;
    }

    .btna {
        margin-left: 180px;
        display: inline-block;
        width: 247px;
        height: 48px;
        background-color: #3040C4;
        border-radius: 2px;
        text-align: center;
        font-size: 18px;
        line-height: 48px;
        color: white;
        margin-bottom: 90px;
    }

    .three {
        
    max-width: 600px;
    }

    .btn1 {
        display: inline-block;
        width: 600px;
        height: 81px;
        margin-bottom: 20px;
        border: 1px solid rgba(43, 41, 45, 0.2);
        border-radius: 8px;
        font-weight: bold;
        font-size: 22px;
        line-height: 81px;
        color: #2B292D;
    }


    .btn1:hover {
        display: inline-block;
        width: 600px;
    }

    span.lick {
        width: 410px;
        height: 230px;
        margin-left: 50px;
        opacity: 0.6;
    
    }
    span.lick1 {
        width: 410px;
        height: 230px;
        margin-left: 50px;
        opacity: 0.6;
    }
}



@media only screen and (max-width: 600px) 
{
    .container {
        max-width: 480px;
        margin: 50px auto;
    }

    .h1 {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.357143px;
    }

    .text-center {
        width: 75%;
        margin: 0 auto;
        text-align: center;
    }

    .btna {
        margin-left: 120px;
        display: inline-block;
        width: 247px;
        height: 48px;
        background-color: #3040C4;
        border-radius: 2px;
        text-align: center;
        font-size: 18px;
        line-height: 48px;
        color: white;
        margin-bottom: 80px;
    }

    .three {
        
    max-width: 480px;
    }

    .btn1 {
        display: inline-block;
        width: 480px;
        height: 81px;
        margin-bottom: 20px;
        border: 1px solid rgba(43, 41, 45, 0.2);
        border-radius: 8px;
        font-weight: bold;
        font-size: 22px;
        line-height: 81px;
        color: #2B292D;
    }


    .btn1:hover {
        display: inline-block;
        width: 480px;
    }

    span {
        margin-left: 15px;
    }

    span.lick {
        width: 410px;
        height: 230px;
        margin-left: 20px;
        opacity: 0.6;
    
    }
    span.lick1 {
        width: 410px;
        height: 230px;
        margin-left: 20px;
        opacity: 0.6;
    
    }

    span.close {
        margin-left: 9px;
        opacity: 0.6;
    }

    span.close1 {
        margin-left: 15px;
        opacity: 0.6;
    }

}

@media only screen and (max-width: 480px) {


    .container {
        max-width: 380px;
        margin: 15px auto;
    }

    .h1 {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.357143px;
    }

    .text-center {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .btna {
        margin-left: 25px;
        display: inline-block;
        width: 335px;
        height: 48px;
        background-color: #3040C4;
        border-radius: 2px;
        text-align: center;
        font-size: 18px;
        line-height: 48px;
        color: white;
        margin-bottom: 40px;
    }

    .three {
        
    max-width: 390px;
    }

    .btn1 {
        display: inline-block;
        width: 390px;
        height: 115px;
        margin-bottom: 20px;
        border: 1px solid rgba(43, 41, 45, 0.2);
        border-radius: 8px;
        font-weight: bold;
        font-size: 22px;
        line-height: 81px;
        color: #2B292D;
    }

    .btn1:hover {
        display: inline-block;
        width: 390px;
        height: 115px;
    }



    span {
        margin-left: 15px;
        width: 200px;
        height: 48px;
    }

    span.lick {
        display: block;
        width: 200px;
        height: 48px;
        margin-left: 15px;
        font-size: 16px;
        line-height: 22px;
        opacity: 0.6;
    }
    span.lick1 {
        display: block;
        width: 200px;
        height: 48px;
        margin-left: 15px;
        opacity: 0.6;
    }

    span.close {
        position: relative;
        left: 331px;
        bottom: 130px;
        display: block;
        border-radius: 0px 8px 8px 0px;
        line-height: 115px;
        width: 50px;
        height: 115px;
        background-color: #D5D4D5;
        margin-left: 9px;
        opacity: 1;
        text-align: center;
    }

    span.close1 {
        position: relative;
        left: 325px;
        bottom: 130px;
        display: block;
        border-radius: 0px 8px 8px 0px;
        line-height: 115px;
        width: 50px;
        height: 115px;
        background-color: #D5D4D5;
        margin-left: 15px;
        opacity: 1;
        text-align: center;
    }



}
